body,html{
	padding: 0px;
	border: 0px;
	margin: 0px;
	background-color: #eee;
}

img{
	-webkit-transition: all  1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

ul{
	-webkit-transition: all  1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

/*Id's*/
#about{
	width: 100vw;
	padding-top: 30px;
	padding-bottom: 4vh;
	border: 0px;
	margin: 0px;
	background-color: #eeeeee;
}

#podioLogo{
	height:100px;
	margin: 4vh 3vw;
	float:left;
}#gitLogo{
	height:100px;	
	margin: 4vh 3vw;
	float:left;
}


#aboutIcon{
	width: 180px;
	padding-top: 5vh;
}

#contact{
	background-color: #303030;
	padding-top: 5px;
}

#emailId{
	text-decoration: none;
	color: black;
	font-weight: lighter;
}

#logoImage{
	z-index:1;
	width:100vw;
	padding: 30vh 10vw 0vh 10vw;
	border: 0px;
	margin: 0px;
}

#mainBackground{
	width: 100vw;
	height: 100vh;
	padding: 0px;
	border: 0px;
	margin: 0px;
	background-image: url('img/background.png');
	background-repeat: no-repeat;
	background-position: center center;
}

#menuImg{	
	float:left;
	height:50px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	position: center center;
}


/*Classes*/

.aboutText{
	z-index:1;
	position: center;
	margin: 4vh 3vw;
	font-family: Segoe UI;
	font-weight: lighter;
	font-size: 21px;
}

.bodyText{
	z-index:1;
	position: center;
	padding-top: 5vh;
	font-family: Segoe UI;
	font-weight: lighter;
	font-size: 25px;
}

.brandIconLogo{
	height:200px;	
	margin: 11px 11px 3px 11px;
	float:left;
	position: absolute;
	left:-380px;
	top: -150px;
}

.brandIconFull{
	margin: 11px 11px 3px 11px;
	float:left;
	position: absolute;
	left:-380px;
	top: -150px;
	left:0px;
	top:0px;
	height:36px;
}

.contact{
	padding-top: 30px;
	padding-bottom:30px;
	border:0px;
	background-color: #303030;
}

.contactInfo{
	color: white;
	line-height: 100px;
	padding-left: 30px;
}

.contact img{
	height:100px;	
	margin: 4vh 3vw;
	float:left;
}

.contactText{
	z-index:1;
	position: center;
	margin: 4vh 3vw;
	font-family: Segoe UI;
	font-weight: lighter;
	font-size: 21px;
	color: #eee;
}

.contactTextTitle{
	z-index:1;
	position: center;
	margin: 1vh 3vw 0vh;
	font-family: Segoe UI;
	font-weight: lighter;
	font-size: 21px;
	color: #eee;
}

.equalHeight{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.mainNavbarFull{
	padding-left: 200px;
}

.mainNavbarLogo{
	padding-left: 55px;
}

.row {
    overflow: hidden; 
}
